<h1 id="success_msg">Playlist randomized!</h1>
<iframe 
    src="https://open.spotify.com/embed/user/{{data.owner.id}}/playlist/{{data.id}}"
    width="300" 
    height="380" 
    frameborder="0" 
    allowtransparency="true" 
    allow="encrypted-media"></iframe>
<div id="back_btn"><a href="./">Go back</a></div>